.main-nav {
  background-color: #222;
}

.menu {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.menu__link {
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: var(--white-color);
  text-decoration: none;
  letter-spacing: 5px;
  line-height: 4rem;

  &--active {
    color: var(--primary-color);
  }
}