.text {
  font-size: 1rem;
  margin: 1rem 0;

  &--xs {
    font-size: var(--text-xs);
  }

  &--s {
    font-size: var(--text-s);
  }

  &--m {
    font-size: var(--text-m);
  }

  &--l {
    font-size: var(--text-l);
  }

  &--xl {
    font-size: var(--text-xl);
  }

  &--xxl {
    font-size: var(--text-xxl);
  }

  &--primary {
    color: var(--primary-color);
  }

  &--secondary {
    color: var(--secondary-color);
  }

  &--danger {
    color: var(--danger-color);
  }
}